#############################################
# Compilation output and runtime
#############################################
.venv
__pycache__


#############################################
# Configuration
#############################################
.env