AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.dev-example-token.abc123def456
OPENAPI_SCHEMA_URL=http://localhost:3000/v1/openapi/json
API_BASE_URL=http://localhost:4200/api
ENVIRONMENT=development
LOGZIO_TOKEN=dev-logzio-token-example
